#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 10000;
    border-right: 1px solid var(--black100);

    &::-webkit-scrollbar {
        display: none;
    }
}
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
  
    @media (max-width: 800px) {
      padding-left: 0;
      padding-top: 70px;
    }
  }

#footer {
    text-align: center;
    background-color: var(--black);
    border-top: 1px solid (var--black100);
    padding: 20px;
    margin-left: 260px;
    width: calc(100% - 260px);
    color: var(--black400);
    font-size: 0.8rem;
}

@media (max-width: 800px){
    #header {
        left: 0;
        width: 0;
        height: 0;
        overflow: visible;
        border-right: 0;

        h1 {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    #main {
        padding-left: 0;
        padding-top: 70px;
    }
    #footer {
        width: 100%;
        margin-left: 0;
    }
}
